GOTOOLCHAIN=go1.24.0

# MCU device.
# e.g. macOS: /dev/cu.usbmodem* Linux: /dev/ttyACM0
GLOOM_PORT= 

# TTY device. Defaults to GLOOM_PORT if unset.
# GLOOM_SERIAL_PORT=

# TinyGo build -target.
# Available: feather-m0
GLOOM_BOARD=feather-m0

# TinyGo build -tags. Separate tags with commas.
# no_lfn disables lfn support which restricts to 
# 8.3 file format on fatfs (for SD cards).
GLOOM_TAGS=no_lfn
