# Nix handles build tools.
GOSUMDB=off
GOTOOLCHAIN=local

# MCU device. macOS: /dev/cu.usbmodem*, Linux: /dev/ttyACM*
GLOOM_PORT= 

# Serial adapter device. Default: $GLOOM_PORT.
# GLOOM_SERIAL =

# TinyGo build target. Available: feather-m0
GLOOM_TARGET=feather-m0

# TinyGo build tags.
#   - no_lfn: disables long filename support for FatFs.
#   - no_hypnos: disables Hypnos FeatherWing.
GLOOM_TAGS=no_lfn

# Blues Notehub ProductUID.
GLOOM_PRODUCT_UID=
