GOTOOLCHAIN=go1.24.0

# The port used to flash device.
# e.g. macOS: /dev/cu.usbmodem* Linux: /dev/ttyACM0
GLOOM_PORT= 

# defaults to GLOOM_PORT if unset
# GLOOM_SERIAL_PORT= # defaults to GLOOM_PORT if unset

# TinyGo build -target.
# Available: feather-m0
GLOOM_BOARD=feather-m0

# TinyGo build -tags. Seperate multiple tags by comma.
# no_lfn disables lfn support which restricts to 
# 8.3 file format on fatfs (for SD cards).
GLOOM_TAGS=no_lfn
